<div class="column">
  <div class="main">
    <div class="container">
      <h1 class="is-size-3 has-text-primary has-text-weight-bold">お店一覧</h1>
      <div class="columns is-mobile">
        <div class="column is-8">
          <div class="field">
            <div class="control">
              <div class="select">
                <select>
                  <option>カテゴリを選ぶ</option>
                  <option>With options</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <button class="button is-success is-outlined is-fullwidth">絞り込み</button>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-4">
          <a href="">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <p>ゆるり屋</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <div class="image is-4by3">
                <%= image_tag 'panda.jpg' %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>ゆるり屋</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
