<div class="column">
  <div class="main">
    <div class="container">
      <h1 class="is-size-3 has-text-primary has-text-centered has-text-weight-bold">シャッフルランチアプリ</h1>
      <p class="has-text-centered">このアプリではお店をしらべたりレポートの投稿ができます</p>
      <div class="columns">
        <div class="column">
          <a href="/shops" class="button is-link is-fullwidth">一覧でお店を探す</a>
        </div>
        <div class="column">
          <a href="/reports/new" class="button is-link is-fullwidth">ランチを記録する</a>
        </div>
        <div class="column">
          <a href="/reports" class="button is-link is-fullwidth">ランチの記録をみる</a>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
              <article class="tile is-child">
                <div class="panda">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
