<div class="column">
  <div class="main">
    <div class="container">
      <h1 class="is-size-3 has-text-primary has-text-weight-bold">ランチの記録</h1>
      <div class="columns is-mobile">
        <div class="column">
          <button class="button is-success is-outlined is-fullwidth">自分が参加したランチのみを表示</button>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-4">
          <a href="/reports/show">
            <div class="card">
              <div class="card-image">
                <div class="image is-4by3">
                  <%= image_tag 'panda.jpg' %>
                </div>
              </div>
              <div class="card-content">
                <div class="content">
                  <div>2019/12/25</div>
                  <div>ゆるり屋</div>
                  <div class="tags">
                    <span class="tag">山田一郎</span>
                    <span class="tag">山田二郎</span>
                    <span class="tag">山田三郎</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
