<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <p>Wiki Top Page</p>
  <a class="button is-primary">Primary</a>
  <a class="button is-link">Link</a>
  <a class="button is-info">Info</a>
  <a class="button is-success">Success</a>
  <a class="button is-warning">Warning</a>
  <a class="button is-danger">Danger</a>

  <body>
    <%= yield %>
  </body>
</html>
